{% extends 'base.html.twig' %}

{% block title %}Impr{% endblock %}

{% block body %}
    <h1>Impr</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ impr.id }}</td>
            </tr>
            <tr>
                <th>Libelle1</th>
                <td>{{ impr.libelle1 }}</td>
            </tr>
            <tr>
                <th>Libelle2</th>
                <td>{{ impr.libelle2 }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ impr.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ impr.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('impr_index') }}">back to list</a>

    <a href="{{ path('impr_edit', {'id': impr.id}) }}">edit</a>

    {{ include('impr/_delete_form.html.twig') }}
{% endblock %}
