{% extends 'base.html.twig' %}

{% block title %}Karyn's Group{% endblock %}

{% block body %}
<!--==========================
  Intro Section
============================-->
<section id="intro">
  <div class="intro-container wow fadeIn">
    <h1 class="mb-4 pb-0">KARYN'S <br><span>GROUP</span> </h1>
    <p class="mb-4 pb-0">Dynamisme et performance</p>
    <a href="https://www.youtube.com/watch?v=BhbJIoxP3NQ" class="venobox play-btn mb-4" data-vbtype="video"
      data-autoplay="true"></a>
    <a href="#about" class="about-btn scrollto">A propos de Karyns Group</a>
  </div>
</section>

<main id="main">

  <!--==========================
    About Section
  ============================-->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2>A Propos de Karyns Group</h2>
          <p>Dynamisme et performance</p>
        </div>
        <div class="col-lg-3">
          <h3>Où</h3>
          <p>Abidjan , Cote d'Ivoire</p>
        </div>
        <!-- <div class="col-lg-3">
          <h3>When</h3>
          <p>Monday to Wednesday<br>10-12 December</p>
        </div>
      </div> -->
    </div>
  </section>

  <!--==========================
    Speakers Section
  ============================-->
  <section id="speakers" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Multi-services </h2>
        <p>Des solutions a tous</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="speaker">
            <img src="img/speakers/residence.jpg" alt="Speaker 1" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Hebergement - résidences meublées</a></h3>
              <!-- <p>Quas alias incidunt</p>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker">
            <img src="{{asset('img/speakers/deco.jpg')}}" alt="Speaker 2" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Decoration intérieur</a></h3>
              <!-- <p>Consequuntur odio aut</p>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker">
            <img src="{{asset('img/speakers/event.jpg')}}" alt="Speaker 3" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Evènementiels</a></h3>
              <!-- <p>Fugiat laborum et</p>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker">
            <img src="{{asset('img/speakers/net.jpg')}}" alt="Speaker 4" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Nettoyage bureau</a></h3>
              <!-- <p>Debitis iure vero</p>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker">
            <img src="{{asset('img/speakers/imp.jpg')}}" alt="Speaker 5" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Imprimerie</a></h3>
              <!-- <p>Qui molestiae natus</p>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker">
            <img src="{{asset('img/speakers/voit.jpg')}}" alt="Speaker 6" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Location/Vente de voiture</a></h3>
              <!-- <p>Non autem dicta</p>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!--==========================
    Schedule Section
  ============================-->





  <!--==========================
    Venue Section
  ============================-->
  <section id="venue" class="wow fadeInUp">

    <div class="container-fluid">

      <div class="section-header">
        <h2>Décoration intérieur </h2>
        <p>Event venue location info and gallery</p>
      </div>

      <div class="row no-gutters">
        <!-- <div class="col-lg-6 venue-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div> -->

        <div class="col-lg-12 venue-info">
          <div class="row justify-content-center">
            <div class="col-11 col-lg-8">
              <h3>Nous Réagençons et redécorons votre maison</h3>
              <p>couleurs, styles, volumes, agencements, matériaux .... La visite conseil permet de répondre à toutes les questions liées à l'aménagement et à la décoration..</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="container-fluid venue-gallery-container">
      <div class="row no-gutters">

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="{{asset('img/deco/1.jpg')}}  " class="venobox" data-gall="venue-gallery">
              <img src="{{asset('img/deco/1.jpg')}}  " alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="{{asset('img/deco/2.jpeg')}}  " class="venobox" data-gall="venue-gallery">
              <img src="{{asset('img/deco/2.jpeg')}}  " alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="{{asset('img/deco/3.jpg')}}  " class="venobox" data-gall="venue-gallery">
              <img src="{{asset('img/deco/3.jpg')}}  " alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="{{asset('img/deco/4.jpg')}}  " class="venobox" data-gall="venue-gallery">
              <img src="{{asset('img/deco/4.jpg')}}  " alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="{{asset('img/deco/5.jpg')}}  " class="venobox" data-gall="venue-gallery">
              <img src="{{asset('img/deco/5.jpg')}}  " alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="{{asset('img/deco/6.jpg')}}  " class="venobox" data-gall="venue-gallery">
              <img src="{{asset('img/deco/6.jpg')}}  " alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="{{asset('img/deco/7.jpg')}}  " class="venobox" data-gall="venue-gallery">
              <img src="{{asset('img/deco/7.jpg')}}  " alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="{{asset('img/deco/8.jpg')}}  " class="venobox" data-gall="venue-gallery">
              <img src="{{asset('img/deco/8.jpg')}}  " alt="" class="img-fluid">
            </a>
          </div>
        </div>

      </div>
    </div>

  </section>

      <!--==========================
        Gallery Section
      ============================-->
      <section id="gallery" class="wow fadeInUp">

        <div class="container">
          <div class="section-header">
            <h2>Services nettoyage et entrétien</h2>
            <p>Nous rendons votre cadres propes et agreables </p>
          </div>
        </div>

        <div class="owl-carousel gallery-carousel">
          <a href="{{asset('img/net/1.jpg')}} " class="venobox" data-gall="gallery-carousel"><img src="{{asset('img/net/1.jpg')}} " alt=""></a>
          <a href="{{asset('img/net/2.jpg')}} " class="venobox" data-gall="gallery-carousel"><img src="{{asset('img/net/2.jpg')}} " alt=""></a>
          <a href="{{asset('img/net/3.jpg')}} " class="venobox" data-gall="gallery-carousel"><img src="{{asset('img/net/3.jpg')}} " alt=""></a>
          <a href="{{asset('img/net/4.jpg')}} " class="venobox" data-gall="gallery-carousel"><img src="{{asset('img/net/4.jpg')}} " alt=""></a>
          <a href="{{asset('img/net/5.jpg')}} " class="venobox" data-gall="gallery-carousel"><img src="{{asset('img/net/5.jpg')}} " alt=""></a>
          <a href="{{asset('img/net/6.jpg')}} " class="venobox" data-gall="gallery-carousel"><img src="{{asset('img/net/6.jpg')}} " alt=""></a>
          <a href="{{asset('img/net/7.jpeg')}} " class="venobox" data-gall="gallery-carousel"><img src="{{asset('img/net/7.jpeg')}} " alt=""></a>
          <a href="{{asset('img/net/8.jpg')}} " class="venobox" data-gall="gallery-carousel"><img src="{{asset('img/net/8.jpg')}} " alt=""></a>
        </div>

      </section>

  <!--==========================
    Hotels Section
  =============================-->
  <section id="hotels" class="section-with-bg wow fadeInUp">

    <div class="container">
      <div class="section-header">
        <h2>Hebergement- Résidence meublées</h2>
        <p>Passez du temps là ou vous le meritez</p>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src=" {{asset('img/residence/1.jpg')}} " alt="Hotel 1" class="img-fluid">
            </div>
            <h3><a href="#">Residence 1</a></h3>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <!-- <p>0.4 Mile from the Venue</p> -->
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src=" {{asset('img/residence/2.jpg')}} " alt="Hotel 2" class="img-fluid">
            </div>
            <h3><a href="#">Résidence 2</a></h3>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-full"></i>
            </div>
            <!-- <p>0.5 Mile from the Venue</p> -->
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src=" {{asset('img/residence/3.jpg')}} " alt="Hotel 3" class="img-fluid">
            </div>
            <h3><a href="#">Résidence 3</a></h3>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <!-- <p>0.6 Mile from the Venue</p> -->
          </div>
        </div>

      </div>
    </div>

  </section>

  <!--==========================
    Gallery Section
  ============================-->
  <section id="gallery" class="wow fadeInUp">

    <div class="container">
      <div class="section-header">
        <h2>Evènementiels</h2>
        <p>Des professionnels de l'evenementiel </p>
      </div>
    </div>

    <div class="owl-carousel gallery-carousel">
      <a href="{{asset('img/event/1.jpg')}}  " class="venobox" data-gall="gallery-carousel"><img src="{{asset('img/event/1.jpg')}}  " alt=""></a>
      <a href="{{asset('img/event/2.jpg')}}  " class="venobox" data-gall="gallery-carousel"><img src="{{asset('img/event/2.jpg')}}  " alt=""></a>
      <a href="{{asset('img/event/3.jpg')}}  " class="venobox" data-gall="gallery-carousel"><img src="{{asset('img/event/3.jpg')}}  " alt=""></a>
      <a href="{{asset('img/event/4.jpg')}}  " class="venobox" data-gall="gallery-carousel"><img src="{{asset('img/event/4.jpg')}}  " alt=""></a>
      <a href="{{asset('img/event/5.jpg')}}  " class="venobox" data-gall="gallery-carousel"><img src="{{asset('img/event/5.jpg')}}  " alt=""></a>
      <a href="{{asset('img/event/6.jpg')}}  " class="venobox" data-gall="gallery-carousel"><img src="{{asset('img/event/6.jpg')}}  " alt=""></a>
      <a href="{{asset('img/event/7.jpg')}}  " class="venobox" data-gall="gallery-carousel"><img src="{{asset('img/event/7.jpg')}}  " alt=""></a>
      <a href="{{asset('img/event/8.jpg')}}  " class="venobox" data-gall="gallery-carousel"><img src="{{asset('img/event/8.jpg')}}  " alt=""></a>
    </div>

  </section>
  <!--==========================
    Venue Section
  ============================-->
  <section id="venue" class="wow fadeInUp">

    <div class="container-fluid">

      <div class="section-header">
        <h2>Imprimérie </h2>
        <p>Impression sur tout types de  supports</p>
      </div>

      <div class="col-lg-12 venue-info">
        <div class="row justify-content-center">
          <div class="col-11 col-lg-8">
            <h3>impression-numerique </h3>
            <p>
    Imprimantes CAD
    Imprimantes encre bio
    Imprimantes étiquettes
    Imprimantes graphiques
    Imprimantes hybrides UV
    Imprimantes jet d'encre éco-solvant
    Imprimantes laser / bureautique
    Imprimantes latex
    Imprimantes pigmentaires
    Imprimantes Print&Cut
    Imprimantes Roll to Roll Ecosolvant
    Imprimantes Roll to Roll UV LED
    Imprimantes solvant
    Imprimantes sublimation
    Imprimantes table à plat UV
    Imprimantes textiles
    Imprimantes UV
    Imprimantes UV LED
    Packs impression
    Presses numériques

Consommables

    Encres Acqueuse
    Encres DTG
    Encres eco-solvant
    Encres latex
    Encres pigmentaire
    Encres solvant
    Encres sublimation
    Encres UV
    Liquides de pré-traitement
    Nettoyants
    Solvants
    Supports de montage
    Tambours
    Toners

Supports d'impression

    Supports d'impression étiquette
    Supports jet d'encre à l'eau
    Supports jet d'encre éco-solvant
    Supports jet d'encre latex
    Supports jet d'encre solvant
    Supports jet d'encre UV
    Supports laser
    Tous les supports

Solutions prépresse

    Colorimétrie
    Conception de packaging
    Édition de documents
    Logiciels, RIP
.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="container-fluid venue-gallery-container">
      <div class="row no-gutters">

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="{{asset('img/impr/1.jpg')}} " class="venobox" data-gall="venue-gallery">
              <img src="{{asset('img/impr/1.jpg')}} " alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="{{asset('img/impr/2.jpg')}} " class="venobox" data-gall="venue-gallery">
              <img src="{{asset('img/impr/2.jpg')}} " alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="{{asset('img/impr/3.jpg')}} " class="venobox" data-gall="venue-gallery">
              <img src="{{asset('img/impr/3.jpg')}} " alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="{{asset('img/impr/4.jpg')}} " class="venobox" data-gall="venue-gallery">
              <img src="{{asset('img/impr/4.jpg')}} " alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="{{asset('img/impr/5.jpg')}} " class="venobox" data-gall="venue-gallery">
              <img src="{{asset('img/impr/5.jpg')}} " alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="{{asset('img/impr/6.jpeg')}} " class="venobox" data-gall="venue-gallery">
              <img src="{{asset('img/impr/6.jpeg')}} " alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="{{asset('img/impr/7.jpg')}} " class="venobox" data-gall="venue-gallery">
              <img src="{{asset('img/impr/7.jpg')}} " alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="{{asset('img/impr/8.jpg')}} " class="venobox" data-gall="venue-gallery">
              <img src="{{asset('img/impr/8.jpg')}} " alt="" class="img-fluid">
            </a>
          </div>
        </div>

      </div>
    </div>

  </section>
  <!--==========================
    Sponsors Section
  ============================-->
  <section id="supporters" class="section-with-bg wow fadeInUp">

    <div class="container">
      <div class="section-header">
        <h2>Il nous ont fait confiance </h2>
      </div>

      <div class="row no-gutters supporters-wrap clearfix">

        <!-- <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="supporter-logo">
            <img src="img/supporters/1.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="supporter-logo">
            <img src="img/supporters/2.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="supporter-logo">
            <img src="img/supporters/3.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="supporter-logo">
            <img src="img/supporters/4.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="supporter-logo">
            <img src="img/supporters/5.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="supporter-logo">
            <img src="img/supporters/6.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="supporter-logo">
            <img src="img/supporters/7.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="supporter-logo">
            <img src="img/supporters/8.png" class="img-fluid" alt="">
          </div>
        </div> -->

      </div>

    </div>

  </section>





    </div>

    <!-- Modal Order Form -->
    <div id="buy-ticket-modal" class="modal fade">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Buy Tickets</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" action="#">
              <div class="form-group">
                <input type="text" class="form-control" name="your-name" placeholder="Your Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="your-email" placeholder="Your Email">
              </div>
              <div class="form-group">
                <select id="ticket-type" name="ticket-type" class="form-control" >
                  <option value="">-- Select Your Ticket Type --</option>
                  <option value="standard-access">Standard Access</option>
                  <option value="pro-access">Pro Access</option>
                  <option value="premium-access">Premium Access</option>
                </select>
              </div>
              <div class="text-center">
                <button type="submit" class="btn">Buy Now</button>
              </div>
            </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  </section> -->

  <!--==========================
    Contact Section
  ============================-->
  <section id="contact" class="section-bg wow fadeInUp">

    <div class="container">

      <div class="section-header">
        <h2>Contactez Nous</h2>
        <p>Laissez nous un message.</p>
      </div>

      <div class="row contact-info">

        <div class="col-md-4">
          <div class="contact-address">
            <i class="ion-ios-location-outline"></i>
            <h3>Adresse</h3>
            <address>Cote d'ivoire ,Abidjan</address>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-phone">
            <i class="ion-ios-telephone-outline"></i>
            <h3>Numero de Telephone</h3>
            <p><a href="tel:+155895548855">+225 00 00 00 00</a></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-email">
            <i class="ion-ios-email-outline"></i>
            <h3>Email</h3>
            <p><a href="mailto:info@example.com">info@karynsgroup.com</a></p>
          </div>
        </div>

      </div>

      <div class="form">
        <div id="sendmessage">Your message has been sent. Thank you!</div>
        <div id="errormessage"></div>
        <form action="" method="post" role="form" class="contactForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validation"></div>
            </div>
            <div class="form-group col-md-6">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validation"></div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
            <div class="validation"></div>
          </div>
          <div class="text-center"><button type="submit">Envoyer</button></div>
        </form>
      </div>

    </div>
  </section><!-- #contact -->

</main>

{% endblock %}
