{% extends 'base.html.twig' %}

{% block title %}Params index{% endblock %}

{% block body %}
    <h1>Params index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contact</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for param in params %}
            <tr>
                <td>{{ param.id }}</td>
                <td>{{ param.contact }}</td>
                <td>{{ param.adresse }}</td>
                <td>
                    <a href="{{ path('params_show', {'id': param.id}) }}">show</a>
                    <a href="{{ path('params_edit', {'id': param.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('params_new') }}">Create new</a>
{% endblock %}
