{% extends 'base.html.twig' %}

{% block title %}Params{% endblock %}

{% block body %}
    <h1>Params</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ param.id }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ param.contact }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ param.adresse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('params_index') }}">back to list</a>

    <a href="{{ path('params_edit', {'id': param.id}) }}">edit</a>

    {{ include('params/_delete_form.html.twig') }}
{% endblock %}
